body{
    margin: 50px 50px 0 50px;
}

.title{
    margin-bottom: 15px
}

.name{
    margin-bottom: 20px;
}

td{
    padding-left:20px;
}

a {
  color:#000;
}

#notice{
    color:orange;
}

.main{
    font-size:13px;
}

.information{
    color:orange;
}

.error-count{
    background-color:red;
    color: white;
}

.alert {
    color:#262626; 
    background:#FFEBE8;
    text-align: center;
    border:2px solid #990000;
    padding:12px; 
    width: auto;
    
  }